h1
{
	text-align: center;
    font-family: "Verdana" , arial;
    text-decoration: underline;
    font-style: italic ;  
    color:#144466;
}

h3
{
	text-align: center;
    font-family: "Times New Roman" , arial;
    font-style: italic ;  
    color:#144466;
}
h4
{
  text-align: left;
    font-family: "Times New Roman" , arial;
    font-style: italic ;  
    text-decoration: underline;
    color:#144466;
}
h5
{
  text-align: left;
    font-family: "Times New Roman" , arial;
    font-style: italic ;  
    color:#144466;
}

.ButConnex{
  position: absolute;
  right: 20%;
text-align: right;
}


.Butretour{
  position: absolute;
  left: 5%;
text-align: left;
top: 5%

}


#menu_haut{
text-align: center;
font-style: #0c2c42;

}
#email{
width: 500px;
text-align: center;
  margin:auto;
  display:block;
}

#login-input{
	width: 700px;
text-align: center;
  margin:auto;
  display:block;
}
#carousel{
width:500px;
position: absolute;
top: 250px;
right: 555px;
}

#presentation{
	float: right;
}



header{
background-image: linear-gradient(#c7c8c9,white	);
}




body{

}




footer{

position: fixed;
bottom:0;
width:100%;
}

.para{
text-align: right;
 position: fixed;
 right: 58%;
 top: 29%


}


#TxtPres{
  float:right;
    position: fixed;
top: 400px;
right: 250px;

}


#imgemploidutemps{
width:300px;
position: absolute;
top: 25%;
right: 60%;
 }

#map{
width:300px;
position: absolute;
top: 25%;
right: 50%;
}

p{
text-align: center;

}
.Champs{
  background:none;
  position: relative;
  left: 63vh;
  top:95px;

}

.BoutonValide{
  position: relative;
  left:38vh;
  top:10vh;
}

.Message{
  position:relative;
  top:10vh;
  left:85vh;
  color:red;
}
.menu{
  position: relative;
  left: 80vh;
  bottom: 25vh;
}
.menu select {
    position: relative;
    width:120px;
    left: -3vh;
    bottom:-23px;

  }
  .menu label {
    top:  10px;
    left: .9vh;
  }
.ButListeEleve{
  position: relative;
  bottom: 2vh;
  left:15vh;
}
.Error{

  position:relative;
  top:30vh;
  left:75vh;

} 
.tableau  th{
  position:relative;
  padding-left: 50px;
  
}
.tableau  td{
  position:relative;
  padding-left: 50px;
  padding-top: 20px;
  
}
.tableau {
  position: relative;
  left:75vh;
  top:10vh;
}