h1
{

	text-align: center;
    font-family: "Times New Roman" , arial;
    text-decoration: underline;
    font-style: italic ;  
    color:#144466;
 
}



#menu_haut{
text-align: center;
font-style: #0c2c42;
}
#email{
width: 500px;
text-align: center;
}

#password{
	width: 500px;
text-align: center;

}

body{
background-color:#c7c8c9;
}

header{
background-image: linear-gradient(#c7c8c9,white	);
}

footer{
text-align: center;
position:absolute;
bottom:0;
width:100%;

