h1
{
	text-align: center;
    font-family: "Verdana" , arial;
    text-decoration: underline;
    font-style: italic ;  
    color:#144466;
}

h3
{
	text-align: center;
    font-family: "Times New Roman" , arial;
    font-style: italic ;  
    color:#144466;
}
h4
{
  text-align: left;
    font-family: "Times New Roman" , arial;
    font-style: italic ;  
    text-decoration: underline;
    color:#144466;
}
h5
{
  text-align: left;
    font-family: "Times New Roman" , arial;
    font-style: italic ;  
    color:#144466;
}

.ButConnex{
  position: absolute;
  right: 20%;
text-align: right;
  
}


#menu_haut{
text-align: center;
font-style: #0c2c42;

}
#email{
width: 500px;
text-align: center;
  margin:auto;
  display:block;
}

#login-input{
	width: 500px;
text-align: center;
  margin:auto;
  display:block;
}
#carousel{
width:300px;
position: absolute;
top: 250px;
right: 555px;
}

#presentation{
	float: right;
}



header{

background-image: linear-gradient(#c7c8c9,white	);
}
body{

}
footer{
text-align: center;
position:absolute;
bottom:0;
width:100%;
}



#TxtPres{
  float:right;
    position: fixed;
top: 400px;
right: 250px;

}

#imgemploidutemps{
    position: absolute;
  right: 20%;
text-align: right;
  
}

#map{
width:300px;
position: absolute;
top: 25%;
right: 50%;
}